# Ignore everything inside the data folder
data/*
!data/.gitkeep

# Ignore everything inside the figures folder
figures/*
!figures/.gitkeep

# Exclude older code that I want to keep just in case
old_code/